.hashtag__title {
  width: 166px;
  padding-left: 77px;
  margin: 0;
  padding-top: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hashtag__title--catalog {
  padding-top: 25px;
}

@media (min-width: @tablet-width) {
  .hashtag__title {
    padding-top: 48px;
    padding-bottom: 45px;
    padding-left: 45px;
    margin-right: 97px;
  }
}

@media (min-width: @tablet-width) {
  .hashtag__title--catalog {
    margin-right: 94px;
  }
}

@media (min-width: @tablet-width) {
  .hashtag__title--form {
    margin-right: 94px;
  }
}

@media (min-width: @desktop-width) {
  .hashtag__title {
    padding-left: 104px;
    margin-right: 254px;
  }
}

@media (min-width: @desktop-width) {
  .hashtag__title--catalog {
    margin-right: 252px;
  }
}

@media (min-width: @desktop-width) {
  .hashtag__title--form {
    margin-right: 252px;
  }
}
