.heading {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


@media (min-width: @tablet-width) {
  .heading {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .heading:nth-child(4) {
    width: 308px;
  }
}
