.hotels-search__title {
  margin: 0;
  padding-top: 38px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotels-search__description {
  margin: 0;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.hotels-search__find-hotel {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 49px;
  padding-left: 49px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  background: #81b3d2;
  color: #ffffff;
}
