@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
  }
}

.main-footer__copyright {
  position: relative;
  display: flex;
  margin-left: 80px;
}

@media (min-width: @tablet-width) {
  .main-footer__copyright {
    margin-left: 100px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__copyright {
    margin-left: 256px;
  }
}

