.presentation__text {
  margin: 0;
  padding: 27px 6px 37px 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.presentation {
  margin-left: 20px;
  margin-right: 20px;
}

.presentation__link {
  position: relative;
}


.presentation__video-button {
  top: 62px;
  left: 118px;
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .presentation__video-button {
    top: 222px;
    left: 294px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__video-button {
    top: 222px;
    left: 370px;
  }
}

.presentation__title {
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .presentation__title {
    padding-left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .presentation {
    padding-top: 14px;
    margin-left: 61px;
    margin-right: 59px;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    padding-top: 18px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .presentation__text {
    padding-top: 32px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 89px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__text {
    padding-top: 32px;
    padding-left: 178px;
    padding-right: 177px;
    padding-bottom: 87px;
  }
}
