.site-list__item {
  list-style-type: none;
}

@media (max-width: @mobile-width-only) {
  .site-list__link {
    display: block;
    padding-top: 17px;
    padding-bottom: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    background-color: #81b3d2;
    color: #ffffff;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__link:hover {
    background-color: #669ec0;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link:hover {
    color: #81b3d2;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link:active {
    color: #000000;
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__link:active {
    background-color: #5496bd;
    color: fade(#ffffff, 30%);
  }
}


@media (max-width: @mobile-width-only) {
  .site-list__link--current {
    display: block;
    padding-top: 17px;
    padding-bottom: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    background-color: #81b3d2;
    color: #ffffff;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__link--current:hover {
    background-color: #669ec0;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__link--current:active {
    background-color: #5496bd;
    color: fade(#ffffff, 30%);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    display: block;
    text-decoration: none;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link--current {
    display: block;
    padding-top: 19px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #766357;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(1) {
    margin-top: 1px;
    margin-left: 30px;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(2) {
    margin-top: 1px;
    margin-left: 36px;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(3) {
    margin-top: 1px;
    margin-left: 165px;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(4) {
    margin-top: 1px;
    margin-left: 13px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(1) {
    margin-left: 71px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(2) {
    margin-left: 124px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(3) {
    margin-left: 340px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(4) {
    margin-left: 99px;
  }
}
