.social__link {
  text-decoration: none;
  color: #000000;
}

.social__list {
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
}
