.welcome-to-sedona {
  background-image: url(../img/back-mobile.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-description {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

